## keywords

In [1]:
import keyword
import numpy as np
print(keyword.kwlist)
print("total no. of keywords:",len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total no. of keywords: 36

## identifiers

In [2]:
abc_12 = 12;
global = 1

SyntaxError: invalid syntax (464974806.py, line 2)

we cannot use special symbols like !,@,#,$,% etc. in our identifiers

In [4]:
a@ = 10

SyntaxError: invalid syntax (1890246595.py, line 1)

In [5]:
print("hello world")

hello world

## python indentation

a code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is upto you,but it must be consistent throughout that block.

Generally four whitespaces are used for indentation and is preffered over tabs.

In [6]:
for i in range(10):
    print(i)
    print(i*2)
print(100)

0
0
1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
100

In [7]:
if True:
    print("machine learning")
    c = "AAIC"

machine learning

";" it indicates the line reads one after another.

In [8]:
if True:print("machine learning"); c = "AACI"

machine learning

## python statement

In [9]:
a = 1 #single line statement

## multi line statement

in python end of a statement is marked by a new line charecter. but we can make a statement extend over multiple lines with line continuation charecter().

In [10]:
a = 1+2+3+\
    4+5+6+\
    7+8

In [11]:
print(a)

36

In [12]:
# another way is to use paranthesis
a = (1+2+3+4+5+6+7+8)
print(a)

36

In [13]:
a =10 ; b=20 ; c=30 #put multiple statements in a single line using ";"

## variable assignments

In [14]:
## we use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

## multiple assignments

In [15]:
a,b,c = 10,5.5,"ML"

In [16]:
a = b = c = "AI" #assign the same value to multiple variables at once

## storage locations

In [17]:
x = 3

print(id(x)) #print address of variable x

1979738646896

In [18]:
y = 3

print(id(y)) #print address of variable y

1979738646896

observation:

x and y points to the same memory location

In [19]:
y = 2
print(id(y))

1979738646864

## data types

## 1)numbers

In [20]:
a = 5                        #data type is implicitly set to integer
print(a,"is of type",type(a))

5 is of type <class 'int'>

In [21]:
a = 2.5                      # data type changes to float
print(a,"is of type",type(a))

2.5 is of type <class 'float'>

In [22]:
a = 1+2j                     #data type is changed to complex number
print(a,"is complex number?")
print(isinstance(1+2j,complex))
print(type(a))

(1+2j) is complex number?
True
<class 'complex'>

## 2)boolean

In [23]:
a =True
print(type(a))

<class 'bool'>

## python string

string is a sequence of unicode charecters.

we can usw a single quotes or double quotes to represent a strings.

multi-line strings can be denoted using triple quotes,"""or'''.

a string in python consists of a series or sequence of characters - letters,numbers,and special characters.

string can be indexed - often synonymously called subscripted as well.

similar to C,the first character of a string has the index 0.

In [24]:
s = "this is a online AI course"
print(s)
print(type(s))

this is a online AI course
<class 'str'>

In [25]:
print(s[0])
#last char s[len(s)-1] or s[-1]

t

In [26]:
print(s[-1]) #last char

e

In [27]:
# slicing
s[5:]     #print everything from 5 onwards

'is a online AI course'

In [28]:
s[5:10]

'is a '

## python lists

lists is an ordered sequence of items. it is one of the most used datatype in python and is very flexible. all the items in a list do not need to be of the same type.

declaring a list is, items seperated by commas are enclosed within brackets[].

In [29]:
a = [10,2.5,"hello"]
print(a[1])          #print 1st index element

2.5

lists are mutable.

meaning: value of elements of a list can be altered.

In [30]:
a[1] = 30.7
print(a)

[10, 30.7, 'hello']

## python tuple

tuple is an ordered sequence of items same as list. the only difference is that tuples are immutable.

tuple once created cannot be modified.

In [31]:
t = (1,1.5,"ML")

In [32]:
print(t[1]) #extra particular element

1.5

In [33]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

## python set

set is an unordered collection of unique items. set is defined by values separated by comma inside braces{}.items in a set are not ordered.

In [34]:
a = {10,30,20,40,5}
print(a)
print(type(a))

{20, 5, 40, 10, 30}
<class 'set'>

we can perform set operations like union,intersection on two sets. set have unique values.

In [35]:
s = {10,20,20,30,30,30}
print(s)                #automartically set won't consider duplicate elements

{10, 20, 30}

In [36]:
print(s[1]) # we can't print particular element in set because
            # it's unorder collections of items

TypeError: 'set' object is not subscriptable

## python dictionary

dictionary is an unordered collection of key-value pairs.

in python,dictionaries are defined within braces{} with each item being a pair in the form key:value.

Key and value can be of any type.

In [37]:
d = {'a':"apple",'b':"bat"}  # {'key':"value"}
print(d['a'])

apple

## conversation between datatypes

we can convert between different data types by using different type conversion functions like int(),float(),str() etc.

In [38]:
float(5)  #convert integer to float using float() method

5.0

In [39]:
int(100.5)   #convert float to integer using int() method

100

In [40]:
str(20)    #convert integer to string

'20'

conversion to and from string must contain compatible values.

In [41]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [42]:
user = "satish"
lines = 100

print("congratulations, " + user + "! you just wrote " + str(lines) + " lines of code")

#remove str and gives error

congratulations, satish! you just wrote 100 lines of code

we can convert one sequence to another

In [43]:
a = [1,2,3]
print(type(a))

s = set(a)

print(type(s))

<class 'list'>
<class 'set'>

In [44]:
list("hello")   #convert string to list using list() method

['h', 'e', 'l', 'l', 'o']

## python input and output

## python output

In [45]:
print("hello world")

hello world

In [46]:
a=10
print("the value of a is",a)
print("the value of a is" + str(a))

the value of a is 10
the value of a is10

## output formating

In [47]:
a=10;b=20
print("the value of a is {} and b is {}".format(a,b))

the value of a is 10 and b is 20

In [48]:
a=10;b=20
print("the value of b is {1} and a is {0}". format(a,b))

the value of b is 20 and a is 10

In [49]:
# we can use keyword arguments to format the string
print("hello {name}, {greeting}".format(name="satish", greeting="good morning"))

hello satish, good morning

In [50]:
#we can combine positional arguments with keyword arguments
print('the story of {0},{1},and {other}'.format('bill','manfred', other='george'))

the story of bill,manfred,and george

## pyhton input

In [51]:
num = input("enter the no.:")
print(num)

enter the no.:

## operators

## 1)arithematic operators

In [52]:
x,y = 10,20

#addition
print(x+y)

#substraction(-)

#multiplication(*)

#division(/)

#modulo division(%)    ##it givesyou the reminder of division

#floor division(//)    ## 15/2 = 7.5  therefore, floor division is integer less than 7.5 and close to 7.5 i.e 7

#exponent(**)          ## to the power

30

## 2) comparision operator

In [53]:
a,b = 10,20

print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
True
False
True

## 3)logical operator

In [54]:
a,b = True,False

print(a and b)
print(a or b)
print(not b)

False
True
True

## 4) bitwise operator

In [55]:
a,b=10,4

print(a & b)  #bitwise and

print(a|b)    #bitwise or

print(~a)     #bitwise not

print(a^b)    #bitwise xor

print(a>>b)    #bitwise rightshift

print(a<<b)    #bitwise leftshift

0
14
-11
14
0
160

## 5)assignment operators

In [56]:
a=10
a+=10
print(a) #add and

# substract and(-=)

#multiply and(*=)

#divide and(/=)

#modulus and(%=)

#floor division(//=)

#exponent and(**=)

20

## 6) special operators

is and is not are the identity operators

In [57]:
a=5
b=5
print(a is b)   #5 is object created once both a and b points to same object

True

In [58]:
l1 = [1,2,3]
l2 = [1,2,3]
print(l1 is l2)   #same case is not true for two lists

False

In [59]:
s1 = "AAIC"
s2 = "AAIC"
print(s1 is not s2)  #strings points at the same objects

False

## 7) membership operators

in and not in are the membership operators in python.

In [60]:
lst = [1,2,3,4]
print(1 in lst)    #check 1 is present in agiven list or not

#check 5 is present in a given list

True

In [61]:
d = {1:"a",2:"b"}  #this is dictionary
print(1 in d)

True

## python while loop

In [62]:
# find product of all numbers present in a list

lst = [10,20,30,40,50]

product = 1
index = 0

while index<len(lst):
    product *= lst[index]
    index += 1
    
print("product is: {}".format(product))

product is: 12000000

## while loop with else

In [63]:
num = [1,2,3]

#iterating over the list
index = 0
while index<len(num):
    print(num[index])
    index +=1
else:
    print("no items left in the list")

1
2
3
no items left in the list

## python program to check given no. is prime or not

In [64]:
num = int(input("enter a number:"))

isdivisible = False;

i=2;

while i<num:
    if num%i ==0:
        isdivisible = True;
        print("{} is divisible by {}".format(num,i))
    i+=1;
    
if isdivisible:
    print("{} is not a prime number".format(num))
else:
    print("{} is a prime number".format(num))

enter a number:

ValueError: invalid literal for int() with base 10: ''

## pyhton for loop

In [65]:
# find product of ll numbers present in a list

lst = [10,20,30,40,50]

product = 1

for element in lst:
    product *= element
    
print("product is: {}".format(product))

product is: 12000000

## range() function

In [66]:
#print range of 10

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [67]:
# print range of numbers from 1 to 20 with step size of 2

for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [68]:
lst = ["satish","srinu","murali","naveen","bramha"]

#iterate over the list using index
for index in range(len(lst)):
    print(lst[index])

satish
srinu
murali
naveen
bramha

In [69]:
for element in lst:
    print(element)

satish
srinu
murali
naveen
bramha

## python programe to print all prime numbers within an interval

In [70]:
index1 = 10
index2 = 50

print("prime numbers between {0} and {1} are:".format(index1,index2))

for num in range(index1,index2):
    if num>1:
        isdivisible = False;
        for index in range(2,num):
            if num % index == 0:
                isdivisible = True;
        if not isdivisible:
            print(num);

prime numbers between 10 and 50 are:
11
13
17
19
23
29
31
37
41
43
47

## python break and continue statements

In [71]:
numbers = [1,2,3,4,5]
for num in numbers:
    if num == 4:
        break
    print(num)
else:
    print("in the else block")
print("outside of for loop")

1
2
3
outside of for loop

## python program to check wheather the given number is prime or not( using break)

In [72]:
num = int (input("enter a number: "))    #convert string to int

isDivisible = False;

i=2;
while i<num:
    if num % i == 0:
        isDivisible = True;
        print("{} is divisible by {}".format(num,i))
        break;
    i += 1;
if isDivisible:
    print("{} is not a prime number".format(num))
else:
    print(" {} is a prime number".format(num))

enter a number:

ValueError: invalid literal for int() with base 10: ''

## continue

## example

In [73]:
#print odd numbers present in a list
numbers = [1,2,3,4,5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("else-block")

1
3
5
else-block

## list creation

In [74]:
emptyList = []

lst = ['one','two','three','four'] #list of string

lst2 = [1,2,3,4] #list of integers

lst3 = [[1,2],[3,4]] #list of lists

lst4 = [1,'ramu',24,1.24] #list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

## list length

In [75]:
lst = ['one','two','three','four']
print(len(lst))

4

## list append

In [76]:
lst = ['one','two','three','four']

lst.append('five')

print(lst)

['one', 'two', 'three', 'four', 'five']

## list insert

In [77]:
#syntax: lst.insert(x,y)

lst = ['one','two','four']

lst.insert(2,"three") #will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

## list remove

In [78]:
#syntax:lst.remove(x)

lst = ['one','two','three','four','two']

lst.remove('two') #it will remove first occurance of 'two' in agiven list

print(lst)

['one', 'three', 'four', 'two']

## list append and extend

In [79]:
lst = ['one','two','three','four']

lst2 = ['five','six']

#append
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [80]:
lst = ['one','two','three','four']

lst2 = ['five','six']

#extend will join the list with lst1

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

## list delete

In [81]:
#del to remove item based on index position

lst = ['one','two','three','four','five']

del lst[1]
print(lst)

#or we can use pop() method

a = lst.pop(1)
print(a)
print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

## list related keywords in python

In [82]:
# keyword 'in' is used to test if an item is in a list

lst = ['one','two','three','four']

if 'two' in lst:
    print('AI')
    
#keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

AI
ML

## list reverse

In [83]:
# reverse the entire list

lst = ['one','two','three','four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

## list sorting

In [84]:
## create a list with numbers

numbers = [3,1,2,9,6,7,12,64]

sorted_lst = sorted(numbers)

print("sorted list: ",sorted_lst)

#original list remains unchanged
print("original list:",numbers)

sorted list:  [1, 2, 3, 6, 7, 9, 12, 64]
original list: [3, 1, 2, 9, 6, 7, 12, 64]

In [85]:
# print a list in revers sorted order

print("reverse sorted list: ",sorted(numbers,reverse=True))

#original list remains unchanged
print("original list:",numbers)

reverse sorted list:  [64, 12, 9, 7, 6, 3, 2, 1]
original list: [3, 1, 2, 9, 6, 7, 12, 64]

In [86]:
numbers = [3,1,2,9,6,7,12,64]

#sort the list and stored in itself
numbers.sort()

#add element 'a' to the list to show an error
print("sorted list ",lst)

sorted list  ['four', 'three', 'two', 'one']

In [87]:
lst=[1,20,'b',5,'a']
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

## string split to create a list

In [88]:
#lets take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [89]:
s = "this is applied AI course"
split_lst = s.split()
print(split_lst)

['this', 'is', 'applied', 'AI', 'course']

## list indexing

In [90]:
lst = [1,2,3,4,5]

print(lst[1]) #print second element

#print lst element usinfg negative index
print(lst[-1])

2
5

## list slicing

In [91]:
numbers = [10,20,30,40,50,60,70,80]

#print all numbers
print(numbers[:])

#print from index 0 to 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [92]:
print(numbers)
#print alternate elements in a list
print(numbers[::2])  ## numbers[start:end:stepsize]

#print elements start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

## list extended using "+"

In [93]:
lst1 = [1,2,3,4]
lst2 = ['verma','naveen','murali','brahma']

new_list = lst1 + lst2

print(new_list)

[1, 2, 3, 4, 'verma', 'naveen', 'murali', 'brahma']

## list count

In [94]:
numbers = [1,2,3,1,3,4,8,2,5]

#frequency of 1 in alist
print(numbers.count(1))

#frequency of 2 in alist
print(numbers.count(2))

2
2

## list looping

In [95]:
#loop through a list

lst = ['one','two','three','four']
for ele in lst:
    print(ele)

one
two
three
four

## list comprehension

In [96]:
# without list comprehension
squares = []

for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [97]:
# using list comprehension

squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [98]:
# example

lst = [-10,-20,10,20,50]

#create a new list with values double
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i>=0]
print(new_lst)

##create a list of tupples like (numbers,square_of_number)
new_lst = [(i,i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

## nested list comprehension

In [99]:
#lets supose we have a matrix

matrix=[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

# transpose of a matrix without list comprehension

transposed = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [100]:
# with list comprehension

transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## tuples

a tuple is similar to list

the difference between the two is that we cant change the elements of tuple once it is assigned where as in the list, elements can be changed.

In [101]:
# eempty tuple

t=()

#tuple having integers
t=(1,2,3)
print(t)

#tuple with mixed datatypes
t = (1,'raju',28,'abc')
print(t)

#nested tuple
t = (1,(2,3,4),[1,'raju',28,'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [102]:
# only paranthesis is not enough
t = ('satish')
type(t)

str

In [103]:
# need a comma at the end
t = ('satish',)
type(t)

tuple

In [104]:
# paranthesis is optional

t = "satish",

print(type(t))

print(t)

<class 'tuple'>
('satish',)

## accesing elements in tuple

In [105]:
t = ('satish','murali','naveen','srinu','brahma')
print(t[1])

murali

In [106]:
#negative index
print(t[-1]) #print last element in a tuple

brahma

In [107]:
#nested tuple
t = ('ABC',('satish','naveen','srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [108]:
print(t[1][2])

srinu

In [109]:
#slicing
t = (1,2,3,4,5,6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [110]:
t = (1,2,3,4,[5,6,7])
t[2] = 'x' # will get type error

TypeError: 'tuple' object does not support item assignment

In [111]:
t[4][1] = 'satish' #will not get error because that element is list
print(t)

(1, 2, 3, 4, [5, 'satish', 7])

In [112]:
# concatinating tuples

t = (1,2,3)+(4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [113]:
# repeat the elements in a tuple for a given number of times using the * operation

t = (('satish',)*4)
print(t)

('satish', 'satish', 'satish', 'satish')

## tuple deletion

In [114]:
# we cannot change the elements in tuple.

#that also means we cannot delet or remove items from the tuple.

#delet entire tuple using del keyword
t=(1,2,3,4,5,6,7)

#delete entire tuple
del t

## tuple count

In [115]:
t=(1,2,3,4,1,4,6,8,7,6,5,4,6,5,4)
t.count(5)

2

## tuple index

In [116]:
 t=(1,2,3,1,3,3,4,1)

print(t.index(3)) # return of index of the first element is equal to 3

#print index of the 1

2

## tuple membership

In [117]:
# test if an item exist in a tuple or not,using the keyword in.

t = (1,2,3,4,5,6)

print(1 in t)

True

In [118]:
print(7 in t)

False

## built in functions

## tuple length

In [119]:
t = (1,2,3,4,5,6)
print(len(t))

6

## tuple sort

In [120]:
t = (4,5,1,2,3)

new_t = sorted(t) #take elementds inthe tuple and return a new sorted list
print(new_t)

[1, 2, 3, 4, 5]

In [121]:
# get the smalest elemet in the tuple
print(min(t))

1

In [122]:
# get the largest elemet in the tuple
print(max(t))

5

In [123]:
#get sum of elements in the tuple
print(sum(t))

15

## sets

-a set is an unordered collection of items. every element is unique(no duplicates).

-the set itself is mutable. we can add or remove items from it.

-sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

## sets creation

In [124]:
# sets of integers
s={1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [125]:
#set doesnt allow duplicates. they store only one instance.
s={1,2,3,6,1,4,2,5}
print(s)

{1, 2, 3, 4, 5, 6}

In [126]:
#we can make set from a list
s = set([1,2,3,1])
print(s)

{1, 2, 3}

In [127]:
# initialize set with a set() method
s = set()

print(type(s))

<class 'set'>

## add element to a set

In [128]:
#we can add single elemnet using add() method and
#add multiple elements using update() method

s={1,3}

#set object doesnt support indexing
print(s[1])

TypeError: 'set' object is not subscriptable

In [129]:
# add elemnt
s.add(2)
print(s)

{1, 2, 3}

In [130]:
#add multiple elements
s.update([5,6,1])
print(s)

{1, 2, 3, 5, 6}

In [131]:
#add lisrt and set
s.update([8,9],{10,2,3})
print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

In [132]:
#add list and set
s.update([8,9],{10,2,3})
print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

## remove elements from a set

In [133]:
#a particular item can be removed from a set using methods,
#discard() and remove().

s={1,2,3,5,4}
print(s)

s.discard(4)  #4 is removed from the set

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [134]:
#remove an element
s.remove(2)
print(s)

{1, 3, 5}

In [135]:
#remove an element not present in a set s
s.remove(7) #will get KeyError

KeyError: 7

In [136]:
#discard an element not present in a set s

s.discard(7)
print(s)

{1, 3, 5}

In [137]:
# we can remove item using pop() method

s = {1,2,3,5,4}

s.pop()  #remove randim element

print(s)

{2, 3, 4, 5}

In [138]:
s.pop()
print(s)

{3, 4, 5}

In [139]:
s ={1,5,2,3,6}
s.clear()  #remove all items in set using clear() method
print(s)

set()

## python set operations

In [140]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

# union of 2 sets using | operator
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7}

In [141]:
#another way of geting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [142]:
# intersection of 2 sets using and operator
print(set1 & set2)

{3, 4, 5}

In [143]:
#set difference: set of elements tht are only in set1 but not set2

print(set1-set2)

{1, 2}

In [144]:
#use difference function
print(set1.difference(set2))

{1, 2}

In [145]:
""" symetric difference: set of elements that are present in both set1 and set2 #except thosw that that are common in both"""

#use ^ operator
print(set1^set2)

{1, 2, 6, 7}

In [146]:
#use symmetric difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [147]:
# find issubset()
x={"a","b","c","d","e"}
y={"c","d"}

print("set 'x is subset of 'y ?",x.issubset(y))  #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?",y.issubset(x))

set 'x is subset of 'y ? False
set 'y' is subset of 'x' ? True

## frozen sets

- while tuples are immutable lists, frozen sets are immutable sets.
- frozensets can be created using the function frozenset().
- this datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union().being immutable, it doesnot have method thart add or remive elements,

In [148]:
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])

#try to add elements into set1 gives an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [149]:
print(set1|set2) #union of 2 sets

frozenset({1, 2, 3, 4, 5, 6})

In [150]:
#intersection of 2 sets
print(set1 & set2)

#or
print(set1.intersection(set2))

frozenset({3, 4})
frozenset({3, 4})

In [151]:
#use ^ operator
print(set1^set2)

#or
#use difference function
print(set1.symmetric_difference(set2))

frozenset({1, 2, 5, 6})
frozenset({1, 2, 5, 6})

## dictionary

- python dictionary is an unordered collection of items. while other compound data types have only value as an element, adictionary has a key: value pair.

In [152]:
#empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1:'abc',2:'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name':'satish',1:['abc','xyz']}
print(my_dict)

#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1,'abc'),(2,'xyz')]) #create a dict with list of tuples
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'satish', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

## dict access

In [153]:
my_dict = {'name':'satish','age':27,'address':'guntur'}

#get name
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['address'])

satish
27
guntur

In [154]:
#if key is not present it gives key error
print(my_dict['degree'])

KeyError: 'degree'

In [155]:
#another way of accessing key
print(my_dict.get('address'))

guntur

In [156]:
#if key is not present it will give none using get method
print(my_dict.get('degree'))

None

## dict add or modify element

In [157]:
my_dict = {'name':'satish','age':27,'address':'guntur'}

#update name
my_dict['name'] = 'raju'
print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur'}

In [158]:
#add new key
my_dict['degree']='m.tech'
print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur', 'degree': 'm.tech'}

In [159]:
my_dict = {'name':'satish','age':27,'address':'guntur'}

#remove an arbitary key
my_dict.popitem()
print(my_dict)

{'name': 'satish', 'age': 27}

In [160]:
squares = {2:4,3:9,4:16,5:25}

#delet particular key
del squares[2]
print(squares)

{3: 9, 4: 16, 5: 25}

In [161]:
#remove all items
squares.clear()
print(squares)

{}

In [162]:
squares = {2:4,3:9,4:16,5:25}

#delet dictionary itself
del squares
print(squares) #nameError because dict is deleted

NameError: name 'squares' is not defined

## dictionary methods

In [163]:
squares = {2:4,3:9,4:16,5:25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [164]:
#fromkeys[seq[,v]] -> return a new dictionary with keys from seq and value
subjects = {}.fromkeys(['math','english','hindi'],0)
print(subjects)

{'math': 0, 'english': 0, 'hindi': 0}

In [165]:
subjects = {2:4,3:9,4:16,5:25}
print(subjects.items()) #rerturn a new view of the dictionary items(keys,value)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [166]:
subjects = {2:4,3:9,4:16,5:25}
print(subjects.keys()) #return a new view of the dictionary keys

dict_keys([2, 3, 4, 5])

In [167]:
subjects={2:4,3:9,4:16,5:25}
print(subjects.values()) #return a new view of the dictionary values

dict_values([4, 9, 16, 25])

In [168]:
#get list of all available methods and attributes of dictionary
d={}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## dict comprehension

In [169]:
#dict comprehension are just like list comprehensions but for dictionaries

d={'a':1,'b':2,'c':3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [170]:
#creating a new dictionary with only pairs where the value is larger than 2
d={'a':1,'b':2,'c':3,'d':4}
new_dict = {k:v for k, v in d.items() if v>2}
print(new_dict)

{'c': 3, 'd': 4}

In [171]:
# we can also perform opertations on the key value pairs
d={'a':1,'b':2,'c':3,'d':4,'e':5}
d={k+'c':v* 2 for k,v in d.items() if v>2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

## strings

In [172]:
my_string = 'hello'
print(my_string)

my_string = "hello"
print(my_string)

my_string = '''hello'''
print(my_string)

hello
hello
hello

## how to access charecter in string

In [173]:
my_string = "hello"

#print first character
print(my_string[0])

#print last character using negative indexing
print(my_string[-1])

#slicing 2nd to 5th character
print(my_string[2:5])

h
o
llo

- if we try to access index out of the range or use decimal no. we will get errors.

In [174]:
print(my_string[15])

IndexError: string index out of range

## how to change or delete a string

- strings are immutable. this means that elements of a string cannot be changed once it has been assigned.
- we can simply reassign different strings to the same name.

In [175]:
my_string = "hello"
my_string[4] = 's' #strings are immutable

TypeError: 'str' object does not support item assignment

- we cannot delete or remove a character from a string. but deleting the string is entirely posible using the keyword del.

In [176]:
del my_string #delete complete string

In [177]:
print(my_string)

NameError: name 'my_string' is not defined

## string operations

In [178]:
s1 = "hello "
s2 = "satish"

#concatination of 2 strings
print(s1+s2)

#repeate string n times
print(s1*3)

hello satish
hello hello hello

## iterating through string

In [179]:
count = 0
for l in "hello world":
    if l == 'o':
        count += 1
print(count,'letters found')

2 letters found

## string membership test

In [180]:
print('l' in 'hello world') #in operator to test membership

True

In [181]:
print('or' in 'hello world')

True

## string methods

In [182]:
"hello".lower()

'hello'

In [183]:
"hello".upper()

'HELLO'

In [184]:
"this will split all words in a list".split()

['this', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [185]:
' '.join(['this', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'this will split all words in a list'

In [186]:
"good morning".find("mo")

5

In [187]:
"bad morning".replace("bad","good")

'good morning'

## python program to check weather the string is palindrome or not

In [188]:
my_string = "MadaM"

#convert entire string to either lower or upper
my_string = my_string.lower()

#reverse string
reverse_string = reversed(my_string)

#check if the reversed string is palindrome
if list(my_string) == list(reverse_string):
    print("given string is palindrome")
else:
    print("given string is not palindrome")

given string is palindrome

## python programe to sort words in alphabetic order

In [189]:
my_string = "python programe to sort words in alphabetic order"

#breakdown the string into list of words
words = my_string.split()

#sort the list
words.sort()

#print sorted words are
for word in words:
    print(word)

alphabetic
in
order
programe
python
sort
to
words

## python functions

In [190]:
def print_name(name):
    """
    this function prints the name 
    """
    print("hello " + str(name))

## function call

In [191]:
print_name('satish')

hello satish

## doc string

the first string after the function header is called the docstring and is short for documentation string.

although optional, documentation is a good programing practice, always document your code

doc string will be written in triple quotes so that docstring can extend up to multiple lines

In [192]:
print(print_name.__doc__) #print doc string of the function

    this function prints the name

## return statement

- the return statement is used to exit a function and go back to the place where it was called.

- if there is no expression in the statement or return statemnet itself is not present inside a function, rthen the function will return none object

In [193]:
def get_sum(list):
    """
    this function returns the sum of all the elements in alist
    """
    
    #initialize sum
    _sum = 0
    
    #iterating over the list
    for num in list:
        _sum += num
    return _sum

In [194]:
s = get_sum([1,2,3,4,5,6,7,8,9])
print(s)

45

In [195]:
# print doc string
print(get_sum.__doc__)

    this function returns the sum of all the elements in alist

## scope and life time of variables

In [196]:
global_var = "this is global variable"

def test_life_time():
    """
    this function test the life time of a variables
    """
    local_var = "this is local variable"
    print(local_var)  #print local variable local_var
    print(global_var) #print global variable global_var
    
#calling function
test_life_time()

#print global variable global_var
print(global_var)

#print local variable local_var
print(local_var)                   #raises error because local variable is not defined out of the function body

this is local variable
this is global variable
this is global variable

NameError: name 'local_var' is not defined

## python programe to print HCF of two no.

In [197]:
def computeHCF(a,b):
    """
    computing HCF of two no.
    """
    
    smaller = b if a>b else a #concise way of writing if else statement
    
    hcf = 1
    for i in range(1,smaller+1):
        if (a % i == 0) and (b % i ==0):
            hcf = i
    return hcf

num1 = 98
num2 = 78

print("HCF of {} and {} is: {}".format(num1,num2,computeHCF(num1,num2)))

HCF of 98 and 78 is: 2

## types of function

- built-in function
- user defined functions

## built-in functions

## 1) abs()

In [198]:
# find the absolute value

num = -100
print(abs(num))

100

## 2) all()

- true: if all elements in an iterable are true
- false: if any elements in an iterable is false

In [199]:
lst = [1,2,3,4]
print(all(lst))

True

In [201]:
lst = (0,2,3,4) # 0 present in list
print(all(lst))

False

In [202]:
lst = []  #empty list always true
print(all(lst))

True

In [203]:
lst = [False,1,2]  #false present in alist so all(lst) is False
print(all(lst))

False

## dir()

- the dir() tries to return a list of valid attributes of the object.
- if the object has dir() method,the method will be called and must return the list of attributes.
- if the object doesnt have dir() method, this method tries to find information from the dict attribute(if defined),and from type object. in this case, the list returned from dir() may not be complete.

In [204]:
numbers = [1,2,3]
print(dir(numbers))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## divmod()

- the divmod() method takesd two numbers and returns apair of numbers(a tuple) consisting of their quotient and reminder.

In [205]:
print(divmod(9,2))  #print quotient and reminder as a tuple
#try with other numbers

(4, 1)

## enumarate()

- the enumerate() method adds counter to an iterable and returns it

- syntax: enumerate(iterable, start=0)

In [206]:
numbers = [10,20,30,40]

for index, num in enumerate(numbers):
    print("index {0} has value {1}".format(index,num))

index 0 has value 10
index 1 has value 20
index 2 has value 30
index 3 has value 40

## filter()

- the filter() method constructs an iterator from elements of an iterable for which a function returns true.

- syntax: filter(function,iterable)

In [207]:
def find_positive_number(num):
    """
    this function returns positive number if num is positive
    """
    if num > 0:
        return num

In [208]:
number_list = range(-10,10) #create a list with numbers from -10 to 10
print(list(number_list))

positive_num_list = list(filter(find_positive_number,number_list))

print(positive_num_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

## isinstance()

- the instance() function checks if the object(first argument) is an instance or subclass of classinfo class(second argument).
- syntax: isinstance(object,classinfo)

In [209]:
lst = [1,2,3,4]
print(isinstance(lst,list))

#try with other datatypes tuple, set
t = (1,2,3,4)
print(isinstance(t,list))

True
False

## map()

- map() applies a function to all the items in an input_list.
- syntax: map(function_to_apply, list_of_inputs)

In [210]:
numbers =[1,2,3,4]

#normal method of computing num^2 for each element in the list.
squared=[]
for num in numbers:
    squared.append(num**2)
print(squared)

[1, 4, 9, 16]

In [211]:
numbers = [1,2,3,4]

def power_of_two(num):
    return num**2

#using map() function
squared = list(map(power_of_two,numbers))
print(squared)

[1, 4, 9, 16]

## reduce()

- reduce() function is for performing some computation on a list and return the result.
- it applies a rolling computation to sequential pairs of values in a list.

In [212]:
#product of elements in a list
product = 1
lst = [1,2,3,4]

#traditional program without reduce()

for num in lst:
    product *= num
print(product)

24

In [214]:
# with reduce()
from functools import reduce # in python 3.

def multiply(x,y):
    return x*y;

product = reduce(multiply,lst)
print(product)

24

## function arguments

In [1]:
def greet(name,msg):
    """
    this function greets to the person with the provided message
    """
    print("hello {0},{1}".format(name,msg))
    
#call the function with arguments
greet("satish","good morning")

hello satish,good morning

In [2]:
#suppose if we pass one argument
greet("satish") #will get an error

TypeError: greet() missing 1 required positional argument: 'msg'

## different form of arguments

## 1) default arguments

In [4]:
def greet(name,msg="good morning"):
    """
    this function greets to person with the provided message
    if message is not provided, it defaults to "good morning"
    """
    print("hello {0},{1}".format(name,msg))

greet("satish","good night")

hello satish,good night

In [5]:
#without msg argument
greet("satish")

hello satish,good morning

## 2)keyword arguments

- kwargs allows you to pass keyworded variable length of arguments to a function. you should use **kwargs if you want to handle named arguments in a function.

In [6]:
def greet(**kwargs):
    """
    this function greets to person with the provided message
    """
    if kwargs:
        print("hello {0},{1}".format(kwargs['name'],kwargs['msg']))
        
greet(name="satish",msg="good morning")

hello satish,good morning

## 3) arbitary arguments

- sometimes, we do not know in advance the number of arguments that will be passed into a function. python allows us to handle this kind of situation through function calls with arbitary number of arguments.

In [7]:
def greet(*names):
    """
    this function greets all persons in the name tuple
    """
    print(names)
    for name in names:
        print("hello,{0}".format(name))
        
greet("satish","murli","naveen","srikanth")

('satish', 'murli', 'naveen', 'srikanth')
hello,satish
hello,murli
hello,naveen
hello,srikanth

## recursive function

In [8]:
# python program to print factorial of a number using recussion

def factorial(num):
    """
    this is recursive function to find the factorial of a given number
    """
    
    return 1 if num == 1 else (num*factorial(num-1))

num=5
print("factorial of {0} is {1}".format(num,factorial(num)))

factorial of 5 is 120

## python programe to display the fibonacci sequence

In [10]:
def fibonacci(num):
    """
    recursive function to print fibonacci sequence
    """
    return num if num <= 1 else fibonacci(num-1)+fibonacci(num-2)

nterms=10
print("fibonacci sequence for n={} terms".format(num))
for num in range(nterms):
    print(fibonacci(num))

fibonacci sequence for n=5 terms
0
1
1
2
3
5
8
13
21
34

## anonymous/lambda function

- in python, anonymous function is a function that is defined without a name.
- while normal functions are defined using the def keyword, in python anonymous functions are defined using the lambda keyword.
- lambda functions are used extensively along with built-in functions like filter(),map(),

syntax:
       lambda arguments:expression

In [13]:
double=lambda x: x*2
#double=function name
#x:x*2 = arg:expression
print(double(5))

10

In [12]:
def double(x):
    return x*2

print(double(5))

10

In [14]:
#example use with filter()

lst=[1,2,3,4,5]
even_lst=list(filter(lambda x:(x%2==0),lst))
print(even_lst)

[2, 4]

In [15]:
#example use with map()
lst=[1,2,3,4,5]
new_lst=list(map(lambda x:x**2,lst))
print(new_lst)

[1, 4, 9, 16, 25]

In [16]:
#example use with reduce()
from functools import reduce

lst=[1,2,3,4,5]
list_product = reduce(lambda x,y:x*y,lst)
print(list_product)

120